<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="PeerId" value="0"/>
    <add key="ElectionEndpoints" value="tcp://localhost:5555,tcp://localhost:5556"/>
    <add key="LeaderEndpoints" value="tcp://localhost:6555,tcp://localhost:6556"/>
    <add key="PingEndpoints" value="tcp://localhost:7555,tcp://localhost:7556"/>
    
    <add key="ElectionListenerEndpoint" value="tcp://localhost:5555"/>
    <add key="LeaderListenerEndpoint" value="tcp://localhost:6555"/>
    <add key="PingListenerEndpoint" value="tcp://localhost:7555"/>
  </appSettings>
</configuration>